<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Wareneingang Modul</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="topbar">
    <div class="logo">ERP-Modul Gruppe 04</div>

    <nav>
    <a href="{{ url_for('goods_receipt.goods_receipts') }}">Wareneingang</a>
    <a href="{{ url_for('supplier_invoice.supplier_invoices') }}">Lieferantenrechnung</a>

    <form method="POST" action="{{ url_for('goods_receipt.change_role') }}" class="role-form">
        <label for="role">Rolle:</label>

        <select name="role" id="role">
            <option value="WARENEINGANG" {% if current_role == "WARENEINGANG" %}selected{% endif %}>
                Wareneingang
            </option>
            <option value="BUCHHALTUNG" {% if current_role == "BUCHHALTUNG" %}selected{% endif %}>
                Buchhaltung
            </option>
            <option value="ADMIN" {% if current_role == "ADMIN" %}selected{% endif %}>
                Admin
            </option>
        </select>

        <input
            type="password"
            name="password"
            class="role-password"
            placeholder="Passwort"
            required
        >

        <button type="submit" class="role-button">
            Wechseln
        </button>
    </form>
    </nav>
</header>

<main class="content">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                {% for category, message in messages %}
                    <div class="message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</main>

</body>
</html>